<p id="notice"><%= notice %></p>
<h2>Tu carrito de compras</h2>

<ul>
    <% @cart.line_items.each do |item| %>
        <li><%= item.product.title %> x <%= item.quantity%> = <%= item.total_price %></li>
    <% end %>
</ul>

<p> Total: <%= @cart.total_price %></p>

<%= button_to 'Vaciar', @cart, method: :delete, data: { confirm: 'Estás seguro?' } %>
